@import "./vars.scss";

html,
body {
  min-height: 100vh;
  background-color: var(--page-bg);
  color: var(--primary-text-color);
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.secondary-text {
  font-size: 14px;
  color: var(--secondary-text-color);
}

.mb-1 {
  margin-bottom: 16px;
}
.mr-1-4 {
  margin-right: 4px;
}

// =================== TRANSITIONS ===================
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}