:root {
  --primary-color: #0288d1;

  --page-bg: #eee;
  --header-bg: var(--primary-color);
  --sidebar-bg: #fff;
  
  --header-text-color: #fff;
  --camera-btn-text-color: #fff;
  
  --primary-text-color: ##212121;
  --secondary-text-color: #80868B;
  
  --elements-color: #80868B;
  
  --sidebar-width: 200px;
}